/* Super body */
body {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  width: auto !important; 
}

/************** HEADER ***************/

.header-bkg{
  height: 100px;
  width: 100%;
  background-color: #751113;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #751113;
  background-position: center center;
  position: absolute; 
  padding-right: 15%;
  padding-left: 15%;
}

.header a{
    color: #FFFFFF;
}

.logo_header{
  width: 100px;
  position: relative;
  padding-top: 0px;
  padding-left: 10px;
  float: left;
}

.btn-header{
  position:relative;
  padding-top: 80px;
}

.btn-header a{
  float: right;
  text-decoration: none;
  outline:none;
  position:relative;
  padding-right: 10px;
}

 /* Page title */
.title{
	color: #FFFFFF;
	position: relative;
  text-align: center-left;
  font-family: Georgia, Serif;
  float: left;
	padding-top: 38px;
  padding-left: 10px;
	font-size: 18px;
  z-index: 1;
}


h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}


/************** CONTENT ***************/

p{
  text-align: justify;
}

a{
  font-family:  ‘Arial Black’, Gadget, sans-serif;
  text-decoration: none;
}

.main-title{
  text-align: center;
  font-style: bold;
  font-size:40px;
  color: #3BA39F;
  padding-top: 10px;  
}

.content{
  padding-left: 15%;
  padding-right: 15%;
}

.content-left,
.content-right,
.content-center{
  padding-top: 20px;
}

.content-left{
  position: relative;
  float:left;
  padding-right: 50%;
}

.content-right{
  padding-left: 50%
}

.content-center{
  padding-right: 10%;
  padding-left: 10%

}

/************** CAROUSEL **************/
.item{
    background: #333;    
    text-align: center;
    height: 350px !important;
}
.carousel{
    position: relative;
    margin-top: 40px;
}

.carousel img{
  position: absolute;
  left: 0;
  width: 100%;
  height: 350px;

}

.img-slide3{
  width: 50%;

}

/************* Footer ***************/
.footer-bkg{
    background-color: #751113; 
}

.footer{
  position: relative;
  bottom: 0;
  margin-top: 30px;
  height: 300px; 
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
}

.footer p, a, form{
  font-size: 13px;
  color: #FFFFFF;
}

.footer h3{
  color: #FFFFFF;
  font-size: 20px;
}

.footer-infos,
.footer-contact,
.footer-followus
{
  position: relative;
  float: left;
}

.footer-infos,
.footer-followus
{
    padding-right: 15%;
}

.footer-infos p{
  text-align: center;
}

.footer form{
  width: 200px;
  padding-left: 10px;
}

.footer-contact textarea{
  width: 300px;
}

