@media (min-width: 1200px){
  .container{
    width: 1000px;
  }
}


/* Super body */
body {
  width: 100%;
  height: 100%;
  min-width: 1300px;
  width: auto !important; 
}

/************** HEADER ***************/

.header-bkg{
  height: 100px;
  width: 100%;
  background-color: #751113;
}

.header {
  height: 100px;
  width: 100%;
  background-color: #751113;
  background-position: center center;
  position: absolute; 
  padding-right: 15%;
  padding-left: 15%;
}

.header a{
    color: #FFFFFF;
}

.logo_header{
  width: 100px;
  position: relative;
  padding-top: 0px;
  padding-left: 10px;
  float: left;
}

.btn-header{
  position:relative;
  padding-top: 80px;
}

.btn-header a{
  float: right;
  text-decoration: none;
  outline:none;
  position:relative;
  padding-right: 10px;
}

 /* Page title */
.title{
	color: #FFFFFF;
	position: relative;
  text-align: center-left;
  font-family: Georgia, Serif;
  float: left;
	padding-top: 38px;
  padding-left: 10px;
	font-size: 18px;
  z-index: 1;
}


h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}


/************** CONTENT ***************/

p{
  text-align: justify;
  font-size: 18px;
}

a{
  font-family:  ‘Arial Black’, Gadget, sans-serif;
  text-decoration: none;
}

.div-centered,
.div-centered-image
.div-centered-alone{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 40px;

}

.div-centered-image{
  min-height: 320px;
  padding-top: 50px;
  padding-right: 20px;
}

.div-centered-alone{
  margin-right:10%;
  margin-left:10%;
  padding-top: 50px;
}

.main-title{
  position: relative;
  text-align: center;
  font-style: bold;
  font-size:40px;
  color: #3BA39F;
  padding-top: 30px; 
}

.content{
  position:relative;
  padding-left: 15%;
  padding-right: 15%;
}

.content li{
  font-size: 18px;
}

.content-left,
.content-right,
.content-center
.div-centered{
  padding-top: 50px;
  position: relative;
}

.content-left{
  float:left;
  width: 100%;
  padding-right: 50%;
  padding-bottom: 40px;
}

.content-right{
  float:right;
  width:100%;
  padding-left: 50%;
  padding-bottom: 40px;
}

.content-center{
  width: 90%;
  margin: 0px auto 0px auto;
}

.information-center{
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.information-center a{
  font-size: 20px;
  color: #3BA39F;
}

.myspan{
  width: 30%;
  height: 33%;
  padding: 8px;
  display: inline-block;
  vertical-align: top;
}


/** Images **/

.image-content{
  height: 320px;
  margin: 0px auto 0px auto;
  padding: 5px;
  padding-bottom: 3%;
}

.image-left{
  position: relative;
  float:left;
  padding-right: 3%;
  width:50%;
}

.image-right{
  float:right;
  padding-left: 3%;
  width:50%;
}

/** Carousel */
.carousel-caption{
  background: rgba(0, 0, 0, 0);
}

.carousel-caption p{
    text-align: center;
}

/************** CAROUSEL **************/
.item{
  background: #333;    
  text-align: center;
  height: 350px !important;
}

.carousel{
  position: relative;
  margin-top: 40px;
}

.carousel-background{
  position: absolute;
  left: 0;
  width: 100%;
  height: 350px;
}

.carousel-img-left,
.carousel-img-right{
  position: relative;
  padding: 1%;
  height: 200px;
  width: 450px;
}

.carousel-img-left{
  float: left;
  padding-left: 12%;
}

.carousel-img-right{
  padding-right: 20%;
  float: right;
}

.container{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/************* Footer ***************/
.footer-container{
  position: relative;
  background-color: #751113; 
}

.link-up{  
  display: block;
  margin:auto;
  width: 40px;
  max-height: 40px;
  margin-bottom: 5px;
}

.footer{
  margin-top: 30px;
  height: 350px; 
  width: 50%;
  margin: 0px auto 0px auto;
}

.footer p, a, form{
  font-size: 13px;
  color: #FFFFFF;
}

.footer h3{
  color: #FFFFFF;
  font-size: 20px;
}

.footer-infos,
.footer-contact,
.footer-followus
{
  position: relative;
  float: left;
}

.footer-infos,
.footer-followus
{
  padding-right: 15%;
}

.footer-infos p{
  text-align: center;
}

.footer form{
  width: 200px;
  padding-left: 10px;
}

.footer-contact textarea{
  width: 300px;
}

.share-logo{
  width: 30px;
  height: 30px;
}

.send-button{
  margin-top: 10px;
}

