/* Super body */
body {
  width: 100%;
  height: 100%;
}

.header {
  height: 140px;
  width: 100%;
  background-color: #751113;
  position: relative; 
}

/* Header logo */
.logo_header{
  width: 60px;
  position: absolute;
  top: 70px;
}

/* Links in the header */
.btn-header{
	text-align: center;
	padding-top: 20px;
}

 /* Page title */
.title{
	color: #FFFFFF;
	text-align: center;
	padding-top: 20px;
	font-size: 30px
}

