
<!-- FOOTER -->
<<div class="footer-bkg">

  <div class="footer">

  <div class="footer-infos">
    <h3> Infos:</h3>
     <br> <p> London Architecture and Design Centre </p> </br>
      <p>Tel : 020 8888 0000 </p>
      <p>Email : </p>

      <p>Unit 1, Carbery Enterprise Park </p>
      <p>36 White Hart Lane, </p>
      <p>Tottenham, </p>
      <p>London N17 8DP </p>
  </div>

 <div class="footer-followus">
    <h3> Follow us:</h3>
  </div>

  <div id = "footer_contactus" class="footer-contact">
      <h3> Contact us:</h3>
      
      <form>
        <label> Subject:</label> <input type="text"><br>
        <label>E-mail adresse: </label> <input type="text"><br>
        <label>Message:</label>
        <textarea rows="3"></textarea>
      </form>
  </div>

  </div>


</div>