<!-- HEADER -->

<div class="header-bkg">
  <div class="header">

    <!-- Logo -->
      <img src="images/logo_transparent.gif" class="logo_header">

      <a class="title" href="../index.html" > 
        LONDON ARCHITECTURE AND DESIGN CENTRE 
      </a>

      <!-- Group of buttons -->
      <div class="btn-header">
             <a class="foot-link" href="#footer_contactus">Contact Us </a>
             <a href="">Humanitarian Involvement /</a> 
             <a href="views/services.html">Services /</a>
             <a href="">About us /</a>    
      </div>

  </div>
</div>