<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>London Architecture and Design Centre</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->
  </head>


<body>

<!-- HEADER -->

<div class="header-bkg">
  <div class="header" id="header">

    <!-- Logo -->
      <img src="../images/logo_transparent.gif" class="logo_header">

      <a class="title" href="../index.html" > 
        LONDON ARCHITECTURE AND DESIGN CENTRE 
      </a>

      <!-- Group of buttons -->
      <div class="btn-header">
             <a class="link" href="#footer_contactus">Contact Us </a>
             <a href="">Humanitarian Involvement /</a> 
             <a href="services.html">Services /</a>
             <a href="">About us /</a>    
      </div>

  </div>
</div>

<!-- Content -->
<div class="content">

  <div class="main-title"> Humanitarian involvement </div>

<div class="content-center">
    <p>Founded in response to the devastating 2005 earthquake, The Awaiting Eyes Foundation is a UK based charity providing humanitarian aid to the children and families affected by natural disasters in Pakistan. To this day these areas lack the infrastructure reconstruction required to return them to pre-earthquake conditions. While many of the initial aid providers have moved on, the Awaiting Eyes Foundation continues its work to rebuild people’s lives. Ongoing AEF projects provide access to education, accommodation, clothing and other assistance to orphaned children and widowed mothers in developing countries. By virtue of the United Nations Conventions on the Rights of the Child, The AEF projects aim to build an orphanage, education centre, hospital and a place of worship for children made homeless by the earthquakes and floods in Pakistan. </p><br>
    <p>The Awaiting Eyes Foundation UK office is entirely run by volunteers, so all the money we generate can go directly to the children we sponsor. We believe that every child deserves a happy childhood and should have a future with prospects.</p><br>
    <p>In 2011 the Awaiting Eyes Foundation began supporting the Baidarie charity in Pakistan. With money provided by AEF fundraising on a weekly basis, the Baidarie charity pays for children’s school fees, clothing, books and any extra fund goes towards school trips.</p>
  </div>

<div class="information-center"><i>If you wish to have more details about the Foundation, you are welcome on its website.</i> </div>

<div class="content-center">
  <img src="../images/hi1.jpg" class="image-content">
  <img src="../images/hi2.jpg" class="image-content ">
  <img src="../images/hi3.jpg" class="image-content ">
  <img src="../images/hi4.jpg" class="image-content ">
</div>


<div class="content-center">
 <a href="#header" class="link"><img src="../images/arrow_link.png" class="link-up"></a> 
</div>

</div>

<!-- FOOTER -->
<div class="footer-container">

  <div class="footer">

  <div class="footer-infos">
    <h3> Infos:</h3>
     <br> <p> London Architecture and Design Centre </p> </br>
      <p>Tel : 020 8888 0000 </p>
      <p>Email : </p>

      <p>Unit 1, Carbery Enterprise Park </p>
      <p>36 White Hart Lane, </p>
      <p>Tottenham, </p>
      <p>London N17 8DP </p>
  </div>

 <div class="footer-followus">
    <h3> Follow us:</h3>
  </div>

  <div id = "footer_contactus" class="footer-contact">
      <h3> Contact us:</h3>
      
      <form>
        <label> Subject:</label> <input type="text"><br>
        <label>E-mail adresse: </label> <input type="text"><br>
        <label>Message:</label>
        <textarea rows="5"></textarea>
      </form>

  </div>

  </div>

</div>
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="../scripts/app.js"></script>
        <script src="../scripts/controllers/main.js"></script>
        <!-- endbuild -->

</body>
</html>
