<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>London Architecture and Design Centre</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->
  </head>


<body>

<!-- HEADER -->

<div class="header-bkg">
  <div class="header">

    <!-- Logo -->
      <img src="../images/logo_transparent.gif" class="logo_header">

      <a class="title" href="../index.html" > 
        LONDON ARCHITECTURE AND DESIGN CENTRE 
      </a>

      <!-- Group of buttons -->
      <div class="btn-header">
             <a class="foot-link" href="#footer_contactus">Contact Us </a>
             <a href="">Humanitarian Involvement /</a> 
             <a href="">Services /</a>
             <a href="">About us /</a>    
      </div>

  </div>
</div>

<!-- FOOTER -->
<div class="footer-bkg">

  <div class="footer">

  <div class="footer-bloc">
    <h3> Infos:</h3>
  </div>

    <div id = "footer_contactus" class="footer-bloc">
      <h3> Contact us:</h3>
      <form>
        Subject: <input type="text"><br>
        E-mail adresse: <input type="text"><br>
      </form>
      <textarea rows="5"></textarea>
    </div>

  </div>

</div>


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->

</body>
</html>
