<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>London Architecture and Design Centre</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="../styles/main.css">
    <!-- endbuild -->
  </head>


<body>

<!-- HEADER -->

<div class="header-bkg">
  <div class="header" id="header">

    <!-- Logo -->
      <img src="../images/logo_transparent.gif" class="logo_header">

      <a class="title" href="../index.html" > 
        LONDON ARCHITECTURE AND DESIGN CENTRE 
      </a>

      <!-- Group of buttons -->
      <div class="btn-header">
             <a class="link" href="#footer_contactus">Contact Us </a>
             <a href="hi.html">Humanitarian Involvement /</a> 
             <a href="services.html">Services /</a>
             <a href="../index.html">About us /</a>    
      </div>

  </div>
</div>

<!-- Content -->
<div class="content">

  <div class="main-title"> Services </div>

  <div class="content-left">
  <h3><b> Architectural services </b></h3>
  </div>

  <div class="content-center">
    <p>London ADC is a company proposing architectural services. Our architects are used to be involved in building projects from the earliest stages right through to completion. We have a great experience within the construction industry, the design of new buildings, the restoration and the conservation of old ones, as well as the development of new ways of using existing ones. </p> 
    <br>

    <p>London ADC offers the possibility of achieving several projects : </p> <br>
     
    <ul>
      <li>Master Planning : This document establishes the framework of a whole site, summarizing civil goals and aspirations for the project to give form and organization and to find a realistic plan for implementation. </li>
      <br>
      <li> Landscape Design : It is the design of outdoors, in order to achieve environmental, social and esthetical outcomes.</li>
      <br>
      <li> Healthcare Building : We have experience in the drawing of hospital plans, between medium to big size. For instance, we are currently planning a hospital in Pakistan, as part of our involvement with the Awaiting Eyes Foundation. </li>
      <br>
      <li>Extension / Refurbishment : The services proposed are, for example, the extension of the roof or a part of the house, the building of a porch or outbuildings. </li>
    </ul>
  </div>

<div class="content">
  <img src="../images/arch_serv_1.png" class="image-content image-left">
  <img src="../images/arch_serv_2.png" class="image-content image-right ">
</div>

<div class="content-left">
  <h3><b> Interior design </b> </h3>
  </div>

  <div class="content-center">

 <p>We offer expertise services in interior design. With us you have the possibility to renovate, remodel or add extensions to your house of office. We can design your dreams into reality ! </p> <br><br>

  <div class="text-centered">
    <img src="../images/interior_design.png">
  </div>

  </div>

<div class="content">
  <img src="../images/int_design_service_1.jpg" class="image-content image-left">
  <img src="../images/int_design_service_2.png" class="image-content image-right ">
</div>

<div class="content-left">
  <h3><b> Plans Sale </b> </h3>
  </div>

  <div class="content-center">  

    <p>The whole team put a large range of building and interior design plans at the customers’ disposal for them to find by themselves the documents which stick the most to their wants for their house of more generally building projects. 
    We remind you that for each plan sold, each project concluded with us, half of the profit is redistributed to the Awaiting Eyes Foundation. This fundraising will allow us to improve their support to the Pakistani orphans and widowed mother with new projects, and the possibility to provide the access to education to more orphans.</p>
  </div>

<div class="content">
  <img src="../images/plans_sale_1.png" class="image-content image-left">
  <img src="../images/plans_sale_2.png" class="image-content image-right ">
</div>

  <div class="content-center">
    <p><i> In one word, London ADC represents the best way to fulfil your dreams in terms of building projects, while being involved in a highly necessary international humanitarian cause. </i></p>
  </div>


</div>

 <a href="#header" class="link"><img src="../images/arrow_link.png" class="link-up"></a> 


<!-- FOOTER -->
<div class="footer-container">

  <div class="footer">

  <div class="footer-infos">
    <h3> Infos:</h3>
     <br> <p> London Architecture and Design Centre </p> </br>

      <p>Unit 1, Carbery Enterprise Park </p>
      <p>36 White Hart Lane, </p>
      <p>Tottenham, </p>
      <p>London N17 8DP </p>
  </div>

 <div class="footer-followus">
    <h3> Follow us:</h3>
    <a href="https://www.facebook.com/londonadcofficial?fref=ts" target="_blank"><p> <img class="share-logo" src="../images/logo_facebook.png">  Facebook</p></a> 
    <a href="https://twitter.com/London_ADC" target="_blank"><p> <img class="share-logo" src="../images/logo_twitter.jpg">  Twitter</p></a>
    <a href="https://www.linkedin.com/profile/view?id=351893549&authType=NAME_SEARCH&authToken=Sslk&locale=fr_FR&trk=tyah2&trkInfo=tarId%3A1404071205860%2Ctas%3AADC%2Cidx%3A1-1-1" target="_blank" ><p> <img class="share-logo" src="../images/logo_linkedin.png">  LinkedIn</p></a>
</div>

  <div id = "footer_contactus" class="footer-contact">
      <h3> Contact us:</h3>
      
      <h3> Contact us:</h3>
      <p>Tel : 020 8801 5868 </p>
      <p>Email : <b>info@adclondon.com </b></p>

  </div>

  </div>

</div>
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="../scripts/app.js"></script>
        <script src="../scripts/controllers/main.js"></script>
        <!-- endbuild -->

</body>
</html>
